<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ht55ght55/boat_rental"><i class="fab fa-github"></i></a>

    <%= link_to root_path do %>
      <%= image_tag(image_url('anchor.png'), class: "footer-anchor") %>
    <% end %>
<!-- <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>

  <div class="footer-copyright">
    © 2019 Boatalicious, Inc. All rights reserved.
  </div>
</div>
