<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ht55ght55/boat_rental"><i class="fab fa-github"></i></a>

    <%= link_to root_path do %>
      <%= cl_image_tag("big-anchor-white_jvz1gr",
      width: 400, height: 300, crop: :fill) %>

    <% end %>

<!-- <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->

  </div>
  <img src="../../assets/images/anchor.png" alt="">
  <div class="footer-copyright">
    © 2019 Boatalicious, Inc. All rights reserved.
  </div>
</div>
