.form-container {
  width: 50%;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.form-button {
  text-align: center;
  margin-top: 10px;
}
