// index.html.erb
.card-text {
  margin: 0;
  p {
    margin: .2em;
  }
}

.card-title {
  margin-top: 0;
  letter-spacing: 0.08em
}
.card-boats{
  color: black;
  margin-top: 40px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}



.card-boats-size {
  box-shadow: 0px 6px 25px -2px rgba(0, 0, 0, 0.06);
  width: 330px;
  border-radius: 3px;
}

.card-boats-image-height {
  height: 200px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}

.card-boats-font-size {
  font-size: 13px;
}

.card-boats-text-font-size {
  font-size: 12px;
}

// show.html.erb
.card-boat-name {
  overflow: hidden;
  justify-content: space-between;
  h1 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0;
  }
  p {
    font-size: 1em;
    opacity: .7;
    margin: 0;
  }
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-boat-name {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-boat-amenities {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-boat-amenities {
  justify-content: space-around;
  h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

// /bookings/index.html.erb

.card-booking {
  flex-direction: row;
}

.card-booking-item {
  width: 500px
}
