// index.html.erb
.card-boats {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.card-boats-size {
  width: 330px;
}

.card-boats-image-height {
  height: 200px;
}

.card-boats-font-size {
  font-size: 13px;
}

.card-boats-text-font-size {
  font-size: 12px;
}

// show.html.erb
.card-boat-name {
  overflow: hidden;
  justify-content: space-between;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0.5em 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-boat-name {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-boat-amenities {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-trip-user {
  position: absolute;
  right: 16px;
  top: 5px;
  // width: 40px;
}

.card-boat-amenities {
  justify-content: space-around;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

// /bookings/index.html.erb

.card-booking {
  flex-direction: row;
}

.card-booking-item {
  width: 500px
}
