
.card-boat-name {
  overflow: hidden;
  justify-content: space-between;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-boat-name {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-boat-amenities {
  padding: 16px;
  display: flex;

  align-items: flex-end;
  position: relative;
}

.card-trip-user {
  position: absolute;
  right: 16px;
  // top: -20px;
  // width: 40px;
}

.card-boat-amenities {
  justify-content: space-around;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}


