.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.info-window {
  background-size: cover;
  padding: 1em;
  text-shadow: black 1px 0 10px;
  color: white;
  p {
    font-weight: bold;
  }
}
