<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("boats_home_banner.jpg") %>);">
  <div class="container">
    <h1>Boatalicious</h1>
    <p>Rent a boat</p>
    <a class="btn btn-primary" href="#">Go</a>
  </div>
</div>
