<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(<%= image_url("boats_home_banner.jpg") %>);">
  <div class="container">
    <h1>Rent the boat of your dreams</h1>
  </div>
</div>
