
<%= link_to boat_show_path(boat), id: "window-link" do %>

<div class="info-window" style="background-image: url('<%= boat.photo.to_s %>');">
  <div class="contaier">
    <h4 style><%= boat.name %></h2>
    <p><%= boat.location %></p>
  </div>
</div>

<% end %>
