<%= render 'home_banner' %>
<div class="main-container d-flex">
  <div class="cards d-flex flex-wrap justify-content-around">
    <% @boats.each do |boat| %>
      <%= render 'boat_card', boat: boat %>
    <% end %>
  </div>
  <div id="map-container">
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  </div>

</div>





