.my_class {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: blue;
}

.container {
  background-color: white;
  border-radius: 4px;
  width: 50vw;
}


.button {
  background: blue;
}

#start_date {
  background-color: white;
}

#end_date {
  background-color: white;
}

// .dates_input_wrapper {
//   display: inline;
//   width: 20vw;
// }

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: 1;
}
